@mixin select {
  cursor: pointer;
  width: 320px;
  border-radius: 0;
  align-items: flex-start;
  gap: var(--sizing-and-spacing-1_5);
  flex-direction: column;

  .hint {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  .hint,
  .open-btn,
  .icon,
  .text-block,
  .chevron_up {
    color: var(--texticons-on_surface_low);
  }

  .hint,
  .text-block {
    text-transform: none;
  }

  .open-btn,
  .icon,
  .chevron_up {
    width: 16px;
    height: 16px;
  }

  .reset {
    width: 20px;
    height: 20px;
  }

  .select {
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-3);
    border-color: var(--border-outline);
    border-radius: var(--rounding-m);
    background: var(--bg-surface_dim);
    height: 40px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806);
  }

  .select,
  .text-block {
    display: flex;
    width: 100%;
  }

  .text-block {
    font-family: var(--body2-regular-family);
    line-height: var(--body2-regular-line-height);
    letter-spacing: var(--body2-regular-letter-spacing);
    font-size: var(--body2-regular-size);
    font-weight: var(--body2-regular-weight);
    opacity: 1;
  }

  &,
  .open-btn,
  .reset,
  .icon,
  .text-block,
  .chevron_up {
    background: transparent;
  }

  &,
  .select {
    flex-shrink: 0;
  }

  &,
  .select,
  .text-block {
    box-sizing: border-box;
    justify-content: flex-start;
  }

  &,
  .text-block {
    padding: 0;
  }

  &,
  &.inline .select,
  .text-block {
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  &,
  &.inline .select,
  &.inline .text-block {
    display: inline-flex;
  }

  &.active.inline .select {
    background: var(--bg-hover_color);
  }

  &.disabled .select {
    border-color: var(--border-disabled_outline);
  }

  &.disabled .text-block {
    opacity: var(--texticons-disabled_number);
  }

  &.error .hint,
  &.error.inline .open-btn,
  &.error.inline .icon,
  &.error.inline .text-block {
    color: var(--texticons-danger);
  }

  &.error .select {
    border-color: var(--border-outline_danger);
  }

  &.filled .text-block {
    color: var(--texticons-on_surface);
  }

  &.focus .select {
    box-shadow: 0px 0px 0px 2px rgba(59, 59, 59, 1);
  }

  &.inline {
    border-color: rgba(255, 255, 255, 0);
  }

  &.inline .select {
    padding: var(--sizing-and-spacing-1);
    background: rgba(255, 255, 255, 0);
    gap: 8px;
    height: 28px;
  }

  &.inline .text-block {
    font-family: var(--body2-medium-family);
    line-height: var(--body2-medium-line-height);
    letter-spacing: var(--body2-medium-letter-spacing);
    font-size: var(--body2-medium-size);
    font-weight: var(--body2-medium-weight);
  }

  &.inline,
  .select {
    border-style: solid;
    border-width: 1px;
    gap: var(--sizing-and-spacing-2);
  }

  &.inline,
  .select,
  .text-block {
    align-items: center;
    flex-direction: row;
  }

  &.inline,
  &.inline .select {
    border-radius: var(--rounding-s);
  }

  &.inline,
  &.inline .select,
  &.inline .text-block {
    width: auto;
  }
}