@if (label()) {
  <span class="label" [id]="labelId">{{ label() }}</span>
}

<div
  class="select"
  role="combobox"
  tabindex="0"
  aria-haspopup="listbox"
  [attr.aria-labelledby]="label() ? labelId : null"
  [attr.aria-expanded]="active()"
  [attr.aria-controls]="dropdown.panelId()"
  [synDropdown]="{ content: selectTemplate, role: 'listbox' }"
  #dropdown="synDropdown"
  (openChange)="active.set($event)"
  (keydown.enter)="openDropdown($event)"
  (keydown.space)="openDropdown($event)"
  (keydown.arrowdown)="openDropdown($event)"
>
  @if (icon()) {
    <syn-icon class="icon" name="{{ icon() }}" />
  }

  <div class="text-block">{{ displayText() }}</div>

  @if (canClear() && selectedValue()) {
    <button
      syn-icon-button
      class="reset"
      (click)="clearSelection(); $event.stopPropagation()"
    >
      <syn-icon name="close" />
    </button>
  }

  @if (active()) {
    <syn-icon class="chevron_up" name="chevron_up" />
  } @else {
    <syn-icon class="open-btn" name="chevron_down" />
  }
</div>

@if (hint()) {
  <div class="hint">{{ hint() }}</div>
}

<ng-template #selectTemplate>
  <ng-content select="[synHeader]" />

  @for (item of itemsWithMetadata(); track item) {
    <div
      class="option"
      [attr.tabindex]="item.disabled ? -1 : 0"
      (click)="selectItem(item)"
      (keyup.enter)="selectItem(item)"
      role="option"
      [class.selected]="isSelected(item)"
      [class.disabled]="item.disabled"
      [attr.aria-selected]="isSelected(item)"
      [attr.aria-disabled]="item.disabled"
    >
      <ng-container
        [ngTemplateOutlet]="selectItemTemplate"
        [ngTemplateOutletContext]="{ item }"
      />
    </div>
  }

  <ng-content select="[synFooter]" />
</ng-template>

<ng-template #selectItemTemplate let-item="item">
  <div class="text_block">
    {{ item.displayName }}
  </div>
  <div class="state"></div>
</ng-template>
