@if (label()) {
  <span class="label" [id]="labelId">{{ label() }}</span>
}

<div
  class="select"
  role="combobox"
  tabindex="0"
  aria-haspopup="listbox"
  [attr.aria-labelledby]="label() ? labelId : null"
  [attr.aria-expanded]="active()"
  [attr.aria-controls]="dropdown.panelId()"
  [synDropdown]="{ content: selectTemplate, role: 'listbox' }"
  #dropdown="synDropdown"
  (openChange)="active.set($event)"
  (focus)="setFocusState(true, $event)"
  (blur)="setFocusState(false)"
  (keydown.enter)="openDropdown($event)"
  (keydown.space)="openDropdown($event)"
  (keydown.arrowdown)="openDropdown($event)"
>
  @if (icon()) {
    <syn-icon class="icon" name="{{ icon() }}" />
  }

  <div class="text-block">{{ displayText() }}</div>

  @if (canClear() && selectedValue()) {
    <button
      syn-icon-button
      class="reset"
      (click)="clearSelection(); $event.stopPropagation()"
    >
      <syn-icon name="close" />
    </button>
  }

  @if (active()) {
    <syn-icon class="chevron_up" name="chevron_up" />
  } @else {
    <syn-icon class="open-btn" name="chevron_down" />
  }
</div>

@if (hint()) {
  <div class="hint">{{ hint() }}</div>
}

<ng-template #selectTemplate>
  <ng-content select="[synHeader]" />

  @if (items().length) {
    @for (item of itemsWithMetadata(); track item.original) {
      <div
        syn-dropdown-item
        [selected]="isSelected(item)"
        [disabled]="!!item.disabled"
        (click)="selectItem(item)"
        (keyup.enter)="selectItem(item)"
      >{{ item.displayName }}</div>
    }
  } @else {
    <ng-content select=":not([synHeader]):not([synFooter])" />
  }

  <ng-content select="[synFooter]" />
</ng-template>
