@mixin tab-panel {
  box-sizing: border-box;
  display: inline-flex;
  position: static;
  width: auto;
  height: auto;
  padding: 0px;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  box-shadow: none;
  flex-direction: row;
  opacity: 1;

  .Tab {
    width: auto;
    height: auto;
    font-family: Inter;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: var(--texticons-on_surface);
  }
}