@mixin tab-panel {
  box-sizing: border-box;
  display: inline-flex;
  padding: 0;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  background: transparent;
  align-items: center;
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-2);
  flex-direction: row;

  .Tab {
    font-family: var(--body2-regular-family);
    line-height: var(--body2-regular-line-height);
    letter-spacing: var(--body2-regular-letter-spacing);
    font-size: var(--body2-regular-size);
    font-weight: var(--body2-regular-weight);
    text-transform: none;
    color: var(--texticons-on_surface);
  }
}