@mixin label {
  box-sizing: border-box;
  display: inline-flex;
  position: static;
  width: auto;
  height: auto;
  min-height: 16px;
  max-height: 40px;
  padding: 0;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-0_5);
  box-shadow: none;
  flex-direction: row;
  opacity: 1;

  .question {
    width: 16px;
    height: 16px;
  }

  &,
  .question {
    background: transparent;
  }

  &,
  .question,
  .required {
    color: var(--texticons-on_surface_low);
  }

  &,
  .required {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
    text-transform: none;
  }
}