@mixin modal-footer {
  height: auto;
  padding: var(--sizing-and-spacing-5) var(--sizing-and-spacing-6);
  background: var(--bg-surface_container);
  justify-content: flex-end;
  gap: var(--sizing-and-spacing-3);

  .Button {
    width: auto;
    height: 40px;
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  .Button,
  .counter {
    color: var(--texticons-on_surface);
  }

  .Button,
  .counter,
  .number {
    text-transform: none;
  }

  .counter {
    height: 24px;
    padding: 0;
    background: transparent;
    justify-content: flex-start;
    gap: var(--sizing-and-spacing-1);
  }

  .counter,
  .number {
    font-family: var(--body1-regular-family);
    line-height: var(--body1-regular-line-height);
    letter-spacing: var(--body1-regular-letter-spacing);
    font-size: var(--body1-regular-size);
    font-weight: var(--body1-regular-weight);
  }

  .number {
    color: var(--texticons-on_surface_low);
  }

  &,
  .counter {
    box-sizing: border-box;
    display: flex;
    position: static;
    width: 100%;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: 0;
    align-items: center;
    box-shadow: none;
    flex-direction: row;
    opacity: 1;
  }
}