@use './input' as input;

:host {
  @include input.input;

  input.text-block {
    outline: none;
  }

  input.text-block::placeholder {
    color: inherit;
  }
}

:host(.inline) {
  flex-shrink: 1;
  min-width: 0;
  max-width: 100%;

  .input {
    width: auto;
    min-width: 0;
    max-width: 100%;
  }

  .text-block {
    min-width: 0;
    text-overflow: clip;
  }

  &:not(.focus) .text-block {
    text-overflow: ellipsis;
  }
}
