@mixin input {
  cursor: pointer;
  align-items: flex-start;
  gap: var(--sizing-and-spacing-1_5);
  flex-direction: column;

  ._Caret {
    width: 1px;
  }

  .hint,
  .icon,
  .text-block,
  .Label,
  .question,
  .required {
    color: var(--texticons-on_surface_low);
  }

  .hint,
  .Label,
  .required {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  .hint,
  .text-block,
  .Label,
  .required {
    text-transform: none;
  }

  .icon {
    width: 16px;
  }

  .icon,
  ._Caret {
    height: 16px;
  }

  .input {
    height: 40px;
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-3);
    border-color: var(--border-outline);
    border-radius: var(--rounding-m);
    background: var(--bg-surface_dim);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806);
  }

  .text-block {
    display: flex;
    width: 100%;
    gap: 0;
    font-family: var(--body2-regular-family);
    line-height: var(--body2-regular-line-height);
    letter-spacing: var(--body2-regular-letter-spacing);
    font-size: var(--body2-regular-size);
    font-weight: var(--body2-regular-weight);
  }

  &,
  .input {
    width: 320px;
    flex-shrink: 0;
  }

  &,
  .input,
  .text-block {
    box-sizing: border-box;
    position: static;
    justify-content: flex-start;
    opacity: 1;
  }

  &,
  .input,
  &.inline .text-block {
    display: inline-flex;
  }

  &,
  .text-block {
    height: auto;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  &,
  &:hover.inline .input,
  .icon,
  .text-block,
  .Label,
  .question,
  ._Caret {
    background: transparent;
  }

  &,
  &.inline .input,
  .text-block {
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  &:disabled .input {
    border-color: var(--border-disabled_outline);
  }

  &:disabled .text-block {
    opacity: var(--texticons-disabled_number);
  }

  &:focus-visible .input {
    box-shadow: 0px 0px 0px 2px rgba(59, 59, 59, 1);
  }

  &:hover.inline .text-block {
    color: var(--texticons-on_surface_variant);
  }

  &.error .hint,
  &.error .icon,
  &.error.inline .text-block {
    color: var(--texticons-danger);
  }

  &.error .input {
    border-color: var(--border-outline_danger);
  }

  &.filled .text-block {
    color: var(--texticons-on_surface);
  }

  &.inline {
    border-color: rgba(255, 255, 255, 0);
  }

  &.inline .input {
    height: 28px;
    padding: var(--sizing-and-spacing-1);
    background: rgba(255, 255, 255, 0);
    gap: 8px;
  }

  &.inline .text-block {
    height: 20px;
  }

  &.inline,
  .input {
    border-style: solid;
    border-width: 1px;
    gap: var(--sizing-and-spacing-2);
  }

  &.inline,
  .input,
  .text-block {
    align-items: center;
    flex-direction: row;
  }

  &.inline,
  &.inline .input {
    border-radius: var(--rounding-s);
  }

  &.inline,
  &.inline .input,
  &.inline .text-block {
    width: auto;
  }
}