@mixin button {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-6);
  border-style: solid;
  border-width: 1px;
  background: var(--bg-primary);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: var(--body1-regular-family);
  line-height: var(--body1-regular-line-height);
  letter-spacing: var(--body1-regular-letter-spacing);
  font-size: var(--body1-regular-size);
  font-weight: var(--body1-regular-weight);
  text-transform: none;
  width: auto;
  gap: var(--sizing-and-spacing-1_5);

  .state {
    position: absolute;
    padding: 0;
    border-style: none;
    border-width: 0;
    background: rgba(255, 255, 255, 0);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    right: 0;
    left: 0;
  }

  &,
  .icon,
  &.loading .spinner {
    color: var(--texticons-on_primary);
  }

  &,
  .state {
    box-sizing: border-box;
    height: 48px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    gap: 0;
    flex-shrink: 0;
  }

  &,
  &.size-m .state,
  &.size-s .state,
  .state {
    border-radius: var(--rounding-m);
  }

  &:disabled {
    opacity: var(--texticons-disabled_number);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.colorType-danger,
  &.colorType-danger .icon,
  &.colorType-danger.loading .spinner {
    color: var(--texticons-danger);
  }

  &.colorType-outlined {
    border-color: var(--border-outline);
  }

  &.colorType-outlined,
  &.colorType-ghost,
  &.colorType-danger,
  .icon,
  .spinner {
    background: transparent;
  }

  &.colorType-outlined.focused,
  &.colorType-ghost.focused,
  &.colorType-danger.focused {
    background: var(--bg-surface_container);
  }

  &.colorType-secondary {
    background: var(--bg-surface_high);
  }

  &.colorType-secondary,
  &.colorType-ghost,
  &.colorType-danger {
    border-color: rgba(0, 0, 0, 0);
  }

  &.colorType-secondary,
  &.colorType-outlined,
  &.colorType-ghost,
  &.colorType-secondary .icon,
  &.colorType-outlined .icon,
  &.colorType-ghost .icon,
  .spinner {
    color: var(--texticons-on_surface);
  }

  &.focused {
    box-shadow: 0px 0px 0px 2px rgba(114, 114, 114, 0.5);
  }

  &.icon {
    padding: var(--sizing-and-spacing-3);
    width: 48px;
  }

  &.icon-left {
    padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-6) var(--sizing-and-spacing-3) var(--sizing-and-spacing-5);
  }

  &.icon-right {
    padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-5) var(--sizing-and-spacing-3) var(--sizing-and-spacing-6);
  }

  &.loading {
    width: 124px;
  }

  &.size-m {
    padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-4);
  }

  &.size-m,
  &.size-m .state {
    height: 40px;
  }

  &.size-m,
  &.size-s {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  &.size-m.icon {
    width: 40px;
  }

  &.size-m.icon-left {
    padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-4) var(--sizing-and-spacing-3) var(--sizing-and-spacing-3);
  }

  &.size-m.icon-left .icon,
  &.size-m.icon-right .icon,
  &.size-s .icon,
  &.size-xs.icon .icon,
  &.size-m.loading .spinner,
  &.size-s.loading .spinner,
  &.colorType-secondary.size-xs.loading .spinner,
  &.colorType-outlined.size-xs.loading .spinner,
  &.colorType-ghost.size-xs.loading .spinner,
  &.size-xs.icon.loading .spinner {
    height: 16px;
    width: 16px;
  }

  &.size-m.icon-right {
    padding: var(--sizing-and-spacing-3) var(--sizing-and-spacing-3) var(--sizing-and-spacing-3) var(--sizing-and-spacing-4);
  }

  &.size-m.icon,
  &.size-s.icon {
    padding: var(--sizing-and-spacing-2);
  }

  &.size-m.loading {
    width: 94px;
  }

  &.size-s {
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-3);
  }

  &.size-s,
  &.size-s .state {
    height: 32px;
  }

  &.size-s.icon {
    width: 32px;
  }

  &.size-s.icon-left {
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-3) var(--sizing-and-spacing-2) var(--sizing-and-spacing-2_5);
  }

  &.size-s.icon-right {
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-2_5) var(--sizing-and-spacing-2) var(--sizing-and-spacing-3);
  }

  &.size-s.loading {
    width: 88px;
  }

  &.size-xs {
    padding: var(--sizing-and-spacing-1) var(--sizing-and-spacing-2);
    font-family: var(--small-regular-family);
    line-height: var(--small-regular-line-height);
    letter-spacing: var(--small-regular-letter-spacing);
    font-size: var(--small-regular-size);
    font-weight: var(--small-regular-weight);
    gap: 2px;
  }

  &.size-xs,
  &.size-xs .state {
    border-radius: var(--rounding-s);
  }

  &.size-xs,
  &.size-xs .state,
  &.size-m.icon .icon,
  .icon,
  .spinner {
    height: 24px;
  }

  &.size-xs.icon {
    padding: var(--sizing-and-spacing-1);
    gap: var(--sizing-and-spacing-1);
  }

  &.size-xs.icon-left {
    padding: var(--sizing-and-spacing-1) var(--sizing-and-spacing-2) var(--sizing-and-spacing-1) var(--sizing-and-spacing-1_5);
  }

  &.size-xs.icon-left .icon,
  &.size-xs.icon-right .icon,
  &.size-xs.loading .spinner {
    height: 12px;
    width: 12px;
  }

  &.size-xs.icon-right {
    padding: var(--sizing-and-spacing-1) var(--sizing-and-spacing-1_5) var(--sizing-and-spacing-1) var(--sizing-and-spacing-2);
  }

  &.size-xs.icon,
  &.size-m.icon .icon,
  .icon,
  .spinner {
    width: 24px;
  }

  &.size-xs.loading {
    width: 74px;
  }
}