@use '../styles/button.scss' as *;

:host {
  overflow: hidden;

  cursor: pointer;

  @include button;

  .wrapper {
    display: contents;

    word-wrap: nowrap;
  }

  &:disabled {
    pointer-events: none;
  }
}