@use './button' as *;

:host {
  cursor: pointer;

  @include button;

  &:disabled {
    pointer-events: none;
  }

  .spinner {
    animation: rotate 1s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}