@mixin avatar {
  flex-shrink: 0;
  font-family: var(--small-regular-family);
  line-height: var(--small-regular-line-height);
  letter-spacing: var(--small-regular-letter-spacing);
  font-size: var(--small-regular-size);
  font-weight: var(--small-regular-weight);
  text-transform: none;
  cursor: pointer;
  display: inline-flex;
  width: 28px;
  height: 28px;
  padding: var(--sizing-and-spacing-1_5);
  border-style: solid;
  border-color: var(--border-outline);
  border-radius: var(--rounding-full);
  background: rgba(255, 255, 255, 0);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;

  .online-indicator {
    width: 4px;
    height: 4px;
    right: 2px;
    bottom: 2px;
  }

  .online-indicator,
  .state {
    position: absolute;
  }

  .state {
    background: var(--bg-hover_color);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }

  .user,
  .photo_add {
    max-width: 32px;
    max-height: 32px;
  }

  .user,
  .photo_add,
  .state {
    width: 100%;
    height: 100%;
  }

  &,
  .online-indicator {
    border-width: 1px;
  }

  &,
  .state {
    box-sizing: border-box;
  }

  &,
  .user,
  .photo_add {
    color: var(--texticons-on_surface);
  }

  &.image-true.upload-false,
  &:hover-true,
  .user,
  .photo_add {
    background: transparent;
  }

  &.initials-true.upload-false,
  &.image-true.upload-false,
  .state {
    padding: 0;
  }

  &.upload-false {
    background: var(--bg-surface_highest);
    flex-direction: column;
  }

  &.upload-false,
  .state {
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }
}