@mixin avatar {
  font-family: var(--small-regular-family);
  line-height: var(--small-regular-line-height);
  letter-spacing: var(--small-regular-letter-spacing);
  font-size: var(--small-regular-size);
  font-weight: var(--small-regular-weight);
  text-transform: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 28px;
  padding: var(--sizing-and-spacing-1_5);
  border-style: solid;
  border-color: var(--border-outline);
  border-radius: var(--rounding-full);
  background: rgba(255, 255, 255, 0);
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .online-indicator {
    width: 4px;
    height: 4px;
    right: 2px;
    bottom: 2px;
  }

  .online-indicator,
  .state {
    position: absolute;
  }

  .state {
    padding: 0;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: 0;
    background: var(--bg-hover_color);
    right: 0;
    left: 0;
  }

  .user,
  .photo_add {
    height: 100%;
    background: transparent;
    max-width: 32px;
    max-height: 32px;
  }

  .user,
  .photo_add,
  .state {
    width: 100%;
  }

  &,
  .online-indicator {
    border-width: 1px;
  }

  &,
  .state {
    box-sizing: border-box;
    height: 28px;
    gap: 0;
    box-shadow: none;
    opacity: 1;
    flex-shrink: 0;
  }

  &,
  .user,
  .photo_add {
    color: var(--texticons-on_surface);
  }

  &.image,
  .state {
    align-items: flex-start;
    justify-content: flex-start;
  }
}