.dark_theme {
  --bg-primary: rgba(127, 86, 217, 1);
  --bg-info: rgba(16, 91, 198, 0.30000001192092896);
  --bg-success: rgba(2, 139, 78, 0.30000001192092896);
  --bg-warning: rgba(236, 155, 5, 0.30000001192092896);
  --bg-danger: rgba(174, 40, 29, 0.30000001192092896);
  --bg-surface_dim: rgba(30, 30, 30, 1);
  --bg-surface: rgba(30, 30, 30, 1);
  --bg-surface_container: rgba(42, 42, 42, 1);
  --bg-surface_high: rgba(58, 58, 58, 1);
  --bg-surface_highest: rgba(114, 114, 114, 1);
  --bg-inverse_surface: rgba(253, 253, 253, 1);
  --texticons-on_primary: rgba(241, 241, 241, 1);
  --texticons-on_inverse_surface: rgba(42, 42, 42, 1);
  --texticons-primary: rgba(178, 153, 231, 1);
  --texticons-info: rgba(61, 137, 245, 1);
  --border-outline_info: rgba(61, 137, 245, 1);
  --texticons-on_surface: rgba(241, 241, 241, 1);
  --border-outline: rgba(214, 214, 214, 1);
  --texticons-on_surface_variant: rgba(215, 215, 215, 1);
  --border-outline_variant: rgba(59, 59, 59, 1);
  --border-outline_high: rgba(241, 241, 241, 1);
  --texticons-on_surface_low: rgba(165, 165, 165, 1);
  --texticons-success: rgba(3, 216, 121, 1);
  --border-outline_success: rgba(3, 216, 121, 1);
  --texticons-warning: rgba(254, 190, 77, 1);
  --border-outline_warning: rgba(254, 190, 77, 1);
  --texticons-danger: rgba(230, 78, 65, 1);
  --border-outline_danger: rgba(230, 78, 65, 1);
  --bg-disabled_surface: rgba(59, 59, 59, 1);
  --border-disabled_outline: rgba(215, 215, 215, 0.3199999928474426);
  --bg-hover_color: rgba(255, 255, 255, 0.11999999731779099);
  --bg-backdrop: rgba(0, 0, 0, 0.6399999856948853);
  --texticons-disabled_number: 0.3199999928474426;
}
.light_theme {
  --bg-primary: rgba(100, 52, 206, 1);
  --bg-info: rgba(21, 112, 239, 0.30000001192092896);
  --bg-success: rgba(3, 169, 95, 0.30000001192092896);
  --bg-warning: rgba(236, 155, 5, 0.30000001192092896);
  --bg-danger: rgba(217, 45, 32, 0.30000001192092896);
  --bg-surface_dim: rgba(241, 241, 241, 1);
  --bg-surface: rgba(253, 253, 253, 1);
  --bg-surface_container: rgba(253, 253, 253, 1);
  --bg-surface_high: rgba(233, 233, 233, 1);
  --bg-surface_highest: rgba(215, 215, 215, 1);
  --bg-inverse_surface: rgba(30, 30, 30, 1);
  --texticons-on_primary: rgba(253, 253, 253, 1);
  --texticons-on_inverse_surface: rgba(241, 241, 241, 1);
  --texticons-primary: rgba(100, 52, 206, 1);
  --texticons-info: rgba(16, 91, 198, 1);
  --border-outline_info: rgba(61, 137, 245, 1);
  --texticons-on_surface: rgba(42, 42, 42, 1);
  --border-outline: rgba(214, 214, 214, 1);
  --texticons-on_surface_variant: rgba(59, 59, 59, 1);
  --border-outline_variant: rgba(233, 233, 233, 1);
  --border-outline_high: rgba(59, 59, 59, 1);
  --texticons-on_surface_low: rgba(114, 114, 114, 1);
  --texticons-success: rgba(2, 139, 78, 1);
  --border-outline_success: rgba(3, 216, 121, 1);
  --texticons-warning: rgba(189, 126, 6, 1);
  --border-outline_warning: rgba(254, 190, 77, 1);
  --texticons-danger: rgba(174, 40, 29, 1);
  --border-outline_danger: rgba(230, 78, 65, 1);
  --bg-disabled_surface: rgba(233, 233, 233, 1);
  --border-disabled_outline: rgba(215, 215, 215, 0.3199999928474426);
  --bg-hover_color: rgba(0, 0, 0, 0.11999999731779099);
  --bg-backdrop: rgba(0, 0, 0, 0.6399999856948853);
  --texticons-disabled_number: 0.3199999928474426;
}
