@mixin dropdown-item {
  cursor: pointer;
  padding: var(--sizing-and-spacing-1_5) var(--sizing-and-spacing-2);
  background: var(--bg-surface_container);
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-1_5);
  flex-direction: row;
  position: relative;

  .hint,
  .icon_placeholder {
    color: var(--texticons-on_surface_low);
  }

  .hint,
  .text_block {
    font-family: var(--body1-condensed-regular-family);
    line-height: var(--body1-condensed-regular-line-height);
    letter-spacing: var(--body1-condensed-regular-letter-spacing);
    font-size: var(--body1-condensed-regular-size);
    font-weight: var(--body1-condensed-regular-weight);
    text-transform: none;
  }

  .icon_placeholder {
    width: 20px;
    height: 20px;
  }

  .state {
    background: rgba(255, 255, 255, 0);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .text_block {
    justify-content: center;
    gap: var(--sizing-and-spacing-0_5);
    flex-direction: column;
    color: var(--texticons-on_surface);
    opacity: 1;
  }

  .text_block,
  .icon_placeholder {
    background: transparent;
  }

  .text_block,
  .state {
    padding: 0;
  }

  &,
  .state {
    border-radius: var(--rounding-m);
  }

  &,
  .text_block {
    display: flex;
    align-items: flex-start;
  }

  &,
  .text_block,
  .state {
    box-sizing: border-box;
    width: 100%;
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.disabled .text_block {
    opacity: var(--texticons-disabled_number);
  }

  &.selected {
    background: var(--bg-surface_high);
  }
}