@mixin table {

  .content {
    border-radius: var(--rounding-m);
  }

  .row {
    border-style: solid;
    border-color: var(--border-outline_variant);
    border-width: 0 0 1px 0;
    border-radius: 0;
  }

  .row,
  .table-header {
    align-items: center;
    flex-direction: row;
  }

  .Table-Cell {
    font-family: var(--body2-regular-family);
    line-height: var(--body2-regular-line-height);
    letter-spacing: var(--body2-regular-letter-spacing);
    font-size: var(--body2-regular-size);
    font-weight: var(--body2-regular-weight);
  }

  .Table-Cell,
  .Table-Header-Cell {
    text-transform: none;
    color: var(--texticons-on_surface);
  }

  .table-header {
    background: var(--bg-surface_container);
  }

  .Table-Header-Cell {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  &,
  .content {
    align-items: flex-start;
    flex-direction: column;
  }

  &,
  .content,
  .row {
    background: transparent;
  }

  &,
  .content,
  .row,
  .Table-Cell,
  .table-header,
  .Table-Header-Cell {
    width: 100%;
    height: auto;
  }

  &,
  .content,
  .row,
  .table-header {
    box-sizing: border-box;
    display: flex;
    position: static;
    padding: 0;
    justify-content: flex-start;
    gap: 0;
    box-shadow: none;
    opacity: 1;
  }

  &,
  .content,
  .table-header {
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  &,
  .table-header {
    border-radius: var(--rounding-l);
  }
}