@mixin slider {
  width: 116px;
  background: var(--bg-surface_container);

  .thumb {
    width: 24px;
    background: var(--bg-inverse_surface);
  }

  &,
  .thumb {
    box-sizing: border-box;
    position: static;
    height: 24px;
    padding: 0;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: var(--rounding-m);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    box-shadow: none;
    opacity: 1;
  }
}