@mixin segmented {
  box-sizing: border-box;
  display: inline-flex;
  padding: var(--sizing-and-spacing-1);
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: var(--rounding-l);
  background: var(--bg-surface_high);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-1);
  flex-direction: row;

  .Segmented-Item {
    height: 32px;
    font-family: var(--body1-regular-family);
    line-height: var(--body1-regular-line-height);
    letter-spacing: var(--body1-regular-letter-spacing);
    font-size: var(--body1-regular-size);
    font-weight: var(--body1-regular-weight);
    text-transform: none;
    color: var(--texticons-on_surface);
  }
}