@mixin tab {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  padding: var(--sizing-and-spacing-1_5) var(--sizing-and-spacing-3);
  align-items: center;
  gap: var(--sizing-and-spacing-1);
  flex-direction: row;
  font-family: var(--body2-regular-family);
  line-height: var(--body2-regular-line-height);
  letter-spacing: var(--body2-regular-letter-spacing);
  font-size: var(--body2-regular-size);
  font-weight: var(--body2-regular-weight);
  text-transform: none;

  .icon_placeholder {
    width: 16px;
    height: 16px;
  }

  .state {
    position: absolute;
    width: 100%;
    height: 32px;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    align-items: flex-start;
    gap: 0;
    right: 0;
    left: 0;
    flex-shrink: 0;
  }

  &,
  .actions,
  .icon,
  .icon_placeholder {
    background: transparent;
  }

  &,
  .icon {
    color: var(--texticons-on_surface_variant);
  }

  &,
  .icon_placeholder,
  .state {
    opacity: 1;
  }

  &,
  .state {
    box-sizing: border-box;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: var(--rounding-s);
    justify-content: flex-start;
    box-shadow: none;
  }

  &:disabled {
    opacity: var(--texticons-disabled_number);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.selected {
    background: var(--bg-surface_high);
  }
}