@mixin tab {
  cursor: pointer;
  display: inline-flex;
  padding: var(--sizing-and-spacing-1_5) var(--sizing-and-spacing-3);
  align-items: center;
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-1);
  flex-direction: row;
  opacity: 1;
  font-family: var(--body2-regular-family);
  line-height: var(--body2-regular-line-height);
  letter-spacing: var(--body2-regular-letter-spacing);
  font-size: var(--body2-regular-size);
  font-weight: var(--body2-regular-weight);
  text-transform: none;
  position: relative;

  .icon_placeholder {
    width: 16px;
    height: 16px;
  }

  .state {
    padding: 0;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &,
  .actions,
  .icon,
  .icon_placeholder {
    background: transparent;
  }

  &,
  .icon {
    color: var(--texticons-on_surface_variant);
  }

  &,
  .state {
    box-sizing: border-box;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: var(--rounding-s);
  }

  &:disabled {
    opacity: var(--texticons-disabled_number);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &:hover-true,
  &.selected-true {
    color: var(--texticons-on_surface);
  }

  &.selected {
    background: var(--bg-surface_high);
  }
}