@mixin modal-window {
  flex-shrink: 0;
  box-sizing: border-box;
  display: inline-flex;
  width: 480px;
  max-width: 480px;
  padding: 0;
  border-color: var(--bg-surface_high);
  border-width: 1px;
  border-radius: var(--rounding-xl);
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  .close {
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .icon {
    color: var(--texticons-on_surface);
  }

  .Modal-Footer,
  .Modal-Content,
  .Modal-Header {
    width: 100%;
  }

  &,
  .close {
    border-style: solid;
  }

  &,
  .close,
  .icon {
    background: transparent;
  }

  &.size-l {
    width: 920px;
    max-width: 920px;
  }

  &.size-m {
    width: 640px;
    max-width: 640px;
  }
}