@mixin toggle {
  cursor: pointer;
  display: inline-flex;
  width: 36px;
  padding: var(--sizing-and-spacing-0_5);
  background: var(--bg-surface_highest);
  align-items: center;
  flex-direction: row;
  position: relative;

  .indicator {
    width: 16px;
    height: 16px;
    background: var(--bg-surface_container);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05999999865889549), 0px 1px 3px 0px rgba(16, 24, 40, 0.10000000149011612);
  }

  .indicator,
  .state {
    padding: 0;
    align-items: flex-start;
  }

  .state {
    position: absolute;
    width: 100%;
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
    right: 0;
    left: 0;
  }

  &,
  .indicator,
  .state {
    box-sizing: border-box;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    justify-content: flex-start;
    gap: 0;
    opacity: 1;
    flex-shrink: 0;
  }

  &,
  .indicator,
  &:hover .state {
    border-radius: var(--rounding-full);
  }

  &,
  .state {
    height: 20px;
    box-shadow: none;
  }

  &:disabled {
    background: var(--bg-disabled_surface);
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px rgba(59, 59, 59, 1);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.checked {
    background: var(--bg-primary);
    justify-content: flex-end;
  }

  &.checked .indicator {
    background: var(--texticons-on_primary);
  }

  &.checked:disabled .indicator {
    background: var(--texticons-on_surface);
    opacity: var(--texticons-disabled_number);
  }
}