@mixin helper-text {
  padding: var(--sizing-and-spacing-3);
  border-radius: var(--rounding-m);
  background: var(--bg-info);

  .actions {
    display: inline-flex;
    width: auto;
  }

  .content {
    gap: var(--sizing-and-spacing-3);
  }

  .content,
  .actions,
  .text_block {
    padding: 0;
    border-radius: 0;
  }

  .content,
  .text_block {
    flex-direction: column;
  }

  .Icon-Button,
  .icon {
    width: 20px;
    height: 20px;
  }

  .Icon-Button,
  .icon,
  .content,
  .actions,
  .text_block {
    background: transparent;
  }

  .icon,
  .text_block {
    color: var(--texticons-on_surface);
  }

  .text_block {
    gap: var(--sizing-and-spacing-1);
    font-family: var(--body1-regular-family);
    line-height: var(--body1-regular-line-height);
    letter-spacing: var(--body1-regular-letter-spacing);
    font-size: var(--body1-regular-size);
    font-weight: var(--body1-regular-weight);
  }

  .text_block,
  .title {
    text-transform: none;
  }

  .title {
    color: var(--texticons-info);
    font-family: var(--body1-condensed-bold-family);
    line-height: var(--body1-condensed-bold-line-height);
    letter-spacing: var(--body1-condensed-bold-letter-spacing);
    font-size: var(--body1-condensed-bold-size);
    font-weight: var(--body1-condensed-bold-weight);
  }

  &,
  .actions {
    gap: var(--sizing-and-spacing-2);
    flex-direction: row;
  }

  &,
  .content,
  .actions,
  .text_block {
    box-sizing: border-box;
    position: static;
    height: auto;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: none;
    opacity: 1;
  }

  &,
  .content,
  .text_block {
    display: flex;
    width: 100%;
  }

  &.type-error {
    background: var(--bg-danger);
  }

  &.type-error .title {
    color: var(--texticons-danger);
  }

  &.type-success {
    background: var(--bg-success);
  }

  &.type-success .title {
    color: var(--texticons-success);
  }

  &.type-warning {
    background: var(--bg-warning);
  }

  &.type-warning .title {
    color: var(--texticons-warning);
  }
}