@mixin modal-header {
  padding: var(--sizing-and-spacing-4) var(--sizing-and-spacing-4) 0 var(--sizing-and-spacing-6);
  background: var(--bg-surface_container);
  gap: 0;

  .caption {
    font-family: var(--body1-condensed-regular-family);
    line-height: var(--body1-condensed-regular-line-height);
    letter-spacing: var(--body1-condensed-regular-letter-spacing);
    font-size: var(--body1-condensed-regular-size);
    font-weight: var(--body1-condensed-regular-weight);
  }

  .caption,
  .icon {
    color: var(--texticons-on_surface_variant);
  }

  .head_block {
    padding: 0;
    gap: var(--sizing-and-spacing-2);
    flex-direction: row;
  }

  .Input {
    width: auto;
  }

  .search_block {
    display: inline-flex;
    width: 871px;
    padding: 0 8px 12px 0;
    gap: 10px;
    flex-shrink: 0;
  }

  .search_block,
  .Input,
  .head_block,
  .titleblock,
  .icon {
    background: transparent;
  }

  .titleblock {
    padding: 0 0 var(--sizing-and-spacing-3) 0;
    gap: var(--sizing-and-spacing-1);
    font-family: var(--body1-bold-family);
    line-height: var(--body1-bold-line-height);
    letter-spacing: var(--body1-bold-letter-spacing);
    font-size: var(--body1-bold-size);
    font-weight: var(--body1-bold-weight);
    color: var(--texticons-on_surface);
  }

  .titleblock,
  .caption {
    text-transform: none;
  }

  &,
  .head_block,
  .titleblock {
    display: flex;
    width: 100%;
  }

  &,
  .search_block,
  .head_block,
  .titleblock {
    box-sizing: border-box;
    position: static;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: 0;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: none;
    opacity: 1;
  }

  &,
  .search_block,
  .Input,
  .head_block,
  .titleblock {
    height: auto;
  }

  &,
  .search_block,
  .titleblock {
    flex-direction: column;
  }
}