@mixin icon-button {
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 0px;
  box-shadow: none;
  flex-direction: row;
  opacity: 1;

  .icon {
    width: 16px;
    height: 16px;
    background: transparent;
    color: var(--texticons-on_surface_low);
  }

  .state {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 0px;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    box-shadow: none;
    opacity: 1;
    flex-shrink: 0;
  }

  .state,
  &:disabled .state,
  &.active .state {
    background: rgba(255, 255, 255, 0);
  }

  &,
  &:disabled,
  &:hover {
    background: transparent;
  }

  &:hover .icon,
  &.active .icon,
  &.type-primary .icon {
    color: var(--texticons-on_surface);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.active {
    background: var(--bg-surface_high);
  }
}