@mixin popover {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10000000149011612), 0px 0px 6px 0px rgba(0, 0, 0, 0.019999999552965164);
  flex-direction: column;
  position: relative;

  .arrow {
    position: absolute;
    bottom: -6px;
    left: calc(50% - (16px / 2));
    top: -6px;
    right: 8px;
  }

  .arrow,
  &.side-top .arrow {
    width: 16px;
    height: 6px;
  }

  .bottom-center {
    background: var(--bg-surface_high);
    width: 17px;
    height: 17px;
    border-radius: 1px;
  }

  &,
  .arrow {
    background: transparent;
  }

  &,
  .arrow,
  .bottom-center {
    box-sizing: border-box;
    padding: 0;
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  &.position-end .arrow {
    bottom: 8px;
  }

  &.position-start .arrow {
    left: 8px;
  }

  &.position-start.side-right .arrow,
  &.position-start.side-left .arrow {
    top: 8px;
  }

  &.side-left .arrow {
    left: -6px;
    top: calc(50% - (16.000000262268372px / 2));
  }

  &.side-left .arrow,
  &.side-right .arrow {
    width: 6px;
    height: 16px;
  }

  &.side-right .arrow {
    top: calc(50% - (16.000000071549266px / 2));
    right: -6px;
  }

  &.side-top .arrow {
    left: calc(50% - (16.00000052453666px / 2));
  }
}