@mixin textarea {
  cursor: pointer;
  display: inline-flex;
  width: 320px;
  gap: var(--sizing-and-spacing-1_5);
  flex-direction: column;

  ._Caret {
    width: 1px;
    height: 16px;
  }

  .hint {
    font-family: var(--body2-condensed-regular-family);
    line-height: var(--body2-condensed-regular-line-height);
    letter-spacing: var(--body2-condensed-regular-letter-spacing);
    font-size: var(--body2-condensed-regular-size);
    font-weight: var(--body2-condensed-regular-weight);
  }

  .hint,
  .text-block {
    text-transform: none;
    color: var(--texticons-on_surface_low);
  }

  .Scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .Scrollbar,
  .text-block {
    height: 100%;
  }

  .text-block {
    font-family: var(--body2-regular-family);
    line-height: var(--body2-regular-line-height);
    letter-spacing: var(--body2-regular-letter-spacing);
    font-size: var(--body2-regular-size);
    font-weight: var(--body2-regular-weight);
    opacity: 1;
  }

  .textarea {
    padding: var(--sizing-and-spacing-2_5) var(--sizing-and-spacing-3);
    border-style: solid;
    border-color: var(--border-outline);
    border-width: 1px;
    background: var(--bg-surface_dim);
    gap: var(--sizing-and-spacing-2);
    height: 120px;
    min-height: 120px;
    border-radius: var(--rounding-m);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806);
    position: relative;
  }

  .textarea,
  .text-block {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  &,
  .text-block {
    padding: 0;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    background: transparent;
  }

  &,
  .textarea {
    flex-shrink: 0;
  }

  &,
  .textarea,
  .text-block {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &:disabled .text-block {
    opacity: var(--texticons-disabled_number);
  }

  &:disabled .textarea {
    border-color: var(--border-disabled_outline);
  }

  &:focus-visible .textarea {
    box-shadow: 0px 0px 0px 2px rgba(59, 59, 59, 1);
  }

  &.error .hint {
    color: var(--texticons-danger);
  }

  &.error .textarea {
    border-color: var(--border-outline_danger);
  }

  &.filled .text-block {
    color: var(--texticons-on_surface);
  }
}