:host {
  position: fixed;
  bottom: 24px;
  right: 24px;
  perspective: 1000px;

  transition: all 0.3s ease;

  &:hover {
    .snackbar-middle {
      transform: translateY(-48px) scale(1);
      opacity: 1;
      pointer-events: auto;
    }

    .snackbar-back {
      transform: translateY(-96px) scale(1);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.snackbar {
  position: absolute;
  right: 0;

  transition: all 0.3s ease;
}

.snackbar-front {
  bottom: 0;
  transform: translateY(0) scale(1);
  opacity: 1;

  z-index: 100;
}

.snackbar-middle {
  bottom: 8px;
  transform: translateY(-8px) scale(0.95);
  pointer-events: none;

  z-index: 99;
}

.snackbar-back {
  bottom: 16px;
  transform: translateY(-16px) scale(0.9);
  pointer-events: none;

  z-index: 98;
}

.snackbar-hidden {
  bottom: 16px;
  transform: translateY(-24px) scale(0.85);
  pointer-events: none;

  opacity: 0;

  z-index: 97;
}
