@mixin snackbar {
  flex-shrink: 0;
  width: 360px;
  height: 48px;
  padding: var(--sizing-and-spacing-2);
  border-style: solid;
  border-color: var(--border-outline_variant);
  border-width: 1px;
  border-radius: var(--rounding-l);
  background: var(--bg-surface_container);
  gap: var(--sizing-and-spacing-1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07999999821186066), 0px 0px 4px 0px rgba(0, 0, 0, 0.03999999910593033);

  .block {
    display: flex;
    width: 100%;
    padding: 0;
    gap: var(--sizing-and-spacing-2);
  }

  .block,
  .container,
  .Button,
  .icon,
  .icon_container,
  .Button11 {
    background: transparent;
  }

  .block,
  .container,
  .icon_container {
    border-style: none;
    border-color: transparent;
    border-width: 0;
  }

  .Button,
  .icon,
  .Button11 {
    width: 24px;
    height: 24px;
  }

  .container {
    padding: 4px;
    gap: 10px;
  }

  .container,
  .icon_container {
    align-items: flex-start;
  }

  .icon_container {
    padding: var(--sizing-and-spacing-1);
  }

  .icon,
  .title {
    color: var(--texticons-on_surface);
  }

  .title {
    font-family: var(--body1-condensed-medium-family);
    line-height: var(--body1-condensed-medium-line-height);
    letter-spacing: var(--body1-condensed-medium-letter-spacing);
    font-size: var(--body1-condensed-medium-size);
    font-weight: var(--body1-condensed-medium-weight);
    text-transform: none;
  }

  &,
  .block {
    align-items: center;
  }

  &,
  .block,
  .container,
  .icon_container {
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: row;
  }

  &,
  .container,
  .icon_container {
    display: inline-flex;
  }

  &.type-error .icon {
    color: var(--texticons-danger);
  }

  &.type-success .icon {
    color: var(--texticons-success);
  }

  &.type-warning .icon {
    color: var(--texticons-warning);
  }
}