@mixin breadcrumbs {
  box-sizing: border-box;
  display: inline-flex;
  position: static;
  padding: 0;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  justify-content: flex-start;
  gap: var(--sizing-and-spacing-1);
  box-shadow: none;
  flex-direction: row;
  opacity: 1;

  .arrow {
    width: 20px;
    height: 20px;
  }

  .arrow,
  .Breadcrumbs-Item {
    color: var(--texticons-on_surface_low);
  }

  .item {
    color: var(--texticons-on_surface);
  }

  .item,
  .Breadcrumbs-Item {
    font-family: var(--body1-condensed-regular-family);
    line-height: var(--body1-condensed-regular-line-height);
    letter-spacing: var(--body1-condensed-regular-letter-spacing);
    font-size: var(--body1-condensed-regular-size);
    font-weight: var(--body1-condensed-regular-weight);
    text-transform: none;
  }

  &,
  .arrow {
    background: transparent;
  }

  &,
  .item,
  .Breadcrumbs-Item {
    width: auto;
    height: auto;
  }
}