@mixin radio-button {
  cursor: pointer;
  display: inline-flex;
  width: 20px;
  border-style: solid;
  border-color: var(--border-outline);
  border-width: 1px;
  background: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .check {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: var(--texticons-primary);
  }

  .state {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    right: 0;
    left: 0;
  }

  .state,
  .check {
    border-style: none;
    border-color: transparent;
    border-width: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &,
  .state {
    height: 20px;
    border-radius: var(--rounding-full);
  }

  &,
  .state,
  .check {
    box-sizing: border-box;
    padding: 0;
    gap: 0;
    box-shadow: none;
    opacity: 1;
    flex-shrink: 0;
  }

  &:disabled {
    border-color: var(--border-disabled_outline);
  }

  &:focus-visible {
    background: var(--bg-surface_container);
    box-shadow: 0px 0px 0px 2px rgba(59, 59, 59, 1);
  }

  &:hover .state {
    background: var(--bg-hover_color);
  }

  &.checked {
    flex-direction: row;
  }

  &.checked:disabled .check {
    opacity: var(--texticons-disabled_number);
  }
}