@mixin tag-base {
  box-sizing: border-box;
  display: inline-flex;
  position: static;
  width: auto;
  height: auto;
  padding: 2px 6px;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 8px;
  background: rgba(253, 253, 253, 1);
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: none;
  flex-direction: row;
  opacity: 1;
  font-family: Inter;
  line-height: 16px;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: rgba(42, 42, 42, 1);

  .icon,
  .close {
    width: 16px;
    height: 16px;
    background: transparent;
    color: rgba(42, 42, 42, 1);
  }
}