@use 'tag' as s;
@use 'tag-base' as base;

:host {
  @include s.tag;

  .container {
    @include base.tag-base;
  }

  .close {
    cursor: pointer;
    padding: 0;
    border: 0;
    display: inline-flex;
    align-items: center;
    color: inherit;
    font: inherit;
  }
}
