@mixin tag {
  box-sizing: border-box;
  display: inline-flex;
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  box-shadow: none;
  flex-direction: row;
  opacity: 1;

  .container {
    background: rgba(253, 253, 253, 1);
    font-family: var(--body2-condensed-medium-family);
    line-height: var(--body2-condensed-medium-line-height);
    letter-spacing: var(--body2-condensed-medium-letter-spacing);
    font-size: var(--body2-condensed-medium-size);
    font-weight: var(--body2-condensed-medium-weight);
    text-transform: none;
  }

  .container,
  .close,
  .icon {
    color: var(--texticons-on_inverse_surface);
  }

  &,
  .close,
  .icon {
    background: transparent;
  }

  &.color-blue .close,
  &.color-blue .icon {
    color: rgba(16, 91, 198, 1);
  }

  &.color-blue .container {
    background: rgba(235, 243, 255, 1);
    color: rgba(13, 52, 110, 1);
  }

  &.color-blueGray .close,
  &.color-blueGray .icon {
    color: rgba(85, 97, 181, 1);
  }

  &.color-blueGray .container {
    background: rgba(219, 223, 250, 1);
    color: rgba(55, 61, 110, 1);
  }

  &.color-brown .close,
  &.color-brown .icon {
    color: rgba(139, 84, 75, 1);
  }

  &.color-brown .container {
    background: rgba(252, 238, 236, 1);
    color: rgba(77, 50, 45, 1);
  }

  &.color-cyan .close,
  &.color-cyan .icon {
    color: rgba(32, 155, 168, 1);
  }

  &.color-cyan .container {
    background: rgba(224, 249, 251, 1);
    color: rgba(19, 82, 89, 1);
  }

  &.color-green .close,
  &.color-green .icon {
    color: rgba(2, 139, 78, 1);
  }

  &.color-green .container {
    background: rgba(209, 255, 235, 1);
    color: rgba(1, 91, 52, 1);
  }

  &.color-indigo .close,
  &.color-indigo .icon {
    color: rgba(32, 40, 221, 1);
  }

  &.color-indigo .container {
    background: rgba(233, 233, 255, 1);
    color: rgba(24, 28, 138, 1);
  }

  &.color-lime .close,
  &.color-lime .icon {
    color: rgba(150, 150, 25, 1);
  }

  &.color-lime .container {
    background: rgba(249, 250, 198, 1);
    color: rgba(75, 75, 15, 1);
  }

  &.color-orange .close,
  &.color-orange .icon {
    color: rgba(189, 62, 11, 1);
  }

  &.color-orange .container {
    background: rgba(255, 231, 221, 1);
    color: rgba(99, 36, 9, 1);
  }

  &.color-pink .close,
  &.color-pink .icon {
    color: rgba(181, 32, 118, 1);
  }

  &.color-pink .container {
    background: rgba(253, 235, 245, 1);
    color: rgba(99, 21, 67, 1);
  }

  &.color-purple .close,
  &.color-purple .icon {
    color: rgba(78, 22, 228, 1);
  }

  &.color-purple .container {
    background: rgba(232, 227, 255, 1);
    color: rgba(52, 18, 140, 1);
  }

  &.color-red .close,
  &.color-red .icon {
    color: rgba(174, 40, 29, 1);
  }

  &.color-red .container {
    background: rgba(251, 208, 202, 1);
    color: rgba(133, 33, 25, 1);
  }

  &.color-teal .close,
  &.color-teal .icon {
    color: rgba(30, 158, 146, 1);
  }

  &.color-teal .container {
    background: rgba(214, 250, 247, 1);
    color: rgba(17, 79, 76, 1);
  }

  &.color-yellow .close,
  &.color-yellow .icon {
    color: rgba(189, 126, 6, 1);
  }

  &.color-yellow .container {
    background: rgba(255, 236, 206, 1);
    color: rgba(143, 96, 7, 1);
  }
}