@mixin modal-content {
  padding: 0 var(--sizing-and-spacing-6);
  background: var(--bg-surface_container);
  gap: 0;
  position: relative;

  .content {
    padding: 0;
    background: transparent;
    gap: 10px;
    font-family: var(--body1-regular-family);
    line-height: var(--body1-regular-line-height);
    letter-spacing: var(--body1-regular-letter-spacing);
    font-size: var(--body1-regular-size);
    font-weight: var(--body1-regular-weight);
    text-transform: none;
    color: var(--texticons-on_surface);
  }

  .Scrollbar {
    position: absolute;
    width: auto;
    height: 143px;
    right: 0px;
  }

  &,
  .content {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    border-radius: 0;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: none;
    flex-direction: column;
    opacity: 1;
  }

  &.scroll {
    padding: var(--sizing-and-spacing-2) var(--sizing-and-spacing-6);
    border-style: solid;
    border-color: var(--border-outline_variant);
    border-width: 1px 0 1px 0;
    flex-direction: row;
  }

  &.scroll,
  &.scroll .content {
    height: 100%;
  }
}